<script src="js/googleMap.js"></script>
<ion-view view-title="iTrip">
  <ion-content has-bouncing="false">
    <br/>
    <br/>
    <div class="row">
      <div class="col">
        <div class="list card">
          <div class="item item-avatar">
            <h1>{{summary["city"]}}</h1>
          </div>
          <div class="item item-body" ng-if="key != 'city'" ng-repeat="(key, value) in summary">
            <h2>{{key}}</h2>
            <p>{{value}}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div style="width:100%; height: 300px;" id="detailsMap"> </div>
      </div>
    </div>

    <div class="row">
      <div class="col col">
        <canvas id="canvas" style="display: block; height: 100%; width: 100%;" width="1662" height="1200" class="chartjs-render-monitor"></canvas>
      </div>
      <div class="col col"></div>
    </div>

  </ion-content>
</ion-view>
