<ion-view view-title="iTrip">
  <ion-content has-bouncing="false">
    <div class="center-container">
      <div class="center-content">
        <br/>
        <div class="logo-container">
          <div class="logo">
            <img src="img/logo.png" height="200px;"></img>
          </div>
        </div>

        <div class="main-search-box-container">
          <div class="main-search-box">
            <input class="search-box" type="text" type="search" placeholder="City, Country, Trip Preferences" ng-model="form.city" ></input>
            <ion-spinner ng-style="{'visibility': !view.isSearchClickable?'visible':'hidden'}"></ion-spinner>
            <button type="button" class="search-icon button button-large button-clear button-positive icon ion-search"
            name="button" ng-click="search()" ng-style="{'visibility': view.isSearchClickable?'visible':'hidden'}">
            </button>
          </div>
        </div>

        <div class="main-search-toggle-container">
          <label class="switch" ng-repeat="item in category">
            <input type="checkbox" value="{{item['id']}}" ng-checked="form.category.indexOf(item['id']) > -1" ng-click="toggleCategory(item['id'])">
            <span class="switch-content">{{item["name"]}}</span>
          </label>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
