<ion-view view-title="iTrip">
  <ion-content has-bouncing="false">
    <div class="center-container">
      <div class="center-content">
        <br/>
        <div class="logo-container">
          <div class="logo">
            <img src="img/logo.png" height="200px;"></img>
          </div>
        </div>

        <div class="main-search-box-container">
          <div class="main-search-box">
            <input class="search-box" type="text" type="search" placeholder="City, Country, Trip Preferences"></input>
            <button type="button" class="search-icon button button-large button-clear button-positive icon ion-search" name="button"></button>
          </div>
        </div>

        <div class="main-search-toggle-container">
          <label class="switch" ng-repeat="item in category">
            <input type="checkbox" value="{{item['name']}}" ng-checked="checkedCategory.indexOf(item['name']) > -1" ng-click="toggleCategory(item['name'])">
            <span class="switch-content">{{item["name"]}}</span>
          </label>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
