<script src="js/googleMap.js"></script>

<ion-view view-title="iTrip">
  <div class="subsearch-container">
    <div class="subsearch-container-header">
      <div class="center-container">
        <div class="center-content-inline">
          <img src="img/logo.png" height="60px;">
          </img>
          <div class="main-search-box-container">
            <div class="main-search-box">
              <input class="search-box" type="text" type="search" placeholder="City, Country, Trip Preferences" ng-model="form.city"></input>
              <ion-spinner ng-style="{'visibility': !view.isSearchClickable?'visible':'hidden'}"></ion-spinner>
              <button type="button" ng-click="search()" ng-style="{'visibility': view.isSearchClickable?'visible':'hidden'}" class="search-icon button button-large button-clear button-positive icon ion-search" name="button"></button>
            </div>
          </div>
        </div>
      </div>

      <div class="main-search-toggle-container" style="margin-top:-12px;">
        <label class="switch" ng-repeat="item in category">
          <input type="checkbox" value="{{item['id']}}" ng-checked="form.category.indexOf(item['id']) > -1" ng-click="toggleCategory(item['id'])">
          <span class="switch-content">{{item["name"]}}</span>
        </label>
      </div>
      <hr/>
    </div>
    <div class = "subsearch-container-section">
      <div class="subsearch-container-row">
        <div class="subsearch-container-left">
          <ion-scroll class = "scroll" has-bouncing="false" scrollbar-x="false" scrollbar-y="false">
            <div class="card" ng-repeat="item in searchResult" ng-click="cardOnClicked(item) ng-mouseover="cardOnMouseover(item)">
              <img src="/img/logo.png"></img>
              <h1>{{item['name']}}</h1>
              <h2>{{item['address']}}</h2>
              <p>
                <span ng-repeat="category in item['categories']">{{category['name']}}</span>
              </p>
            </div>
          </ion-scroll>
        </div>
        <div class="subsearch-container-right">
          <div id="map"> </div>
        </div>
      </div>
    </div>
  </div>
</ion-view>
