<script src="js/googleMap.js"></script>

<ion-view view-title="iTrip">
  <div class="subsearch-container">
    <div class="subsearch-container-header">
      <div class="center-container">
        <div class="center-content-inline">
          <img src="img/logo.png" height="60px;">
          </img>
          <div class="main-search-box-container">
            <div class="main-search-box">
              <input class="search-box" type="text" type="search" placeholder="City, Country, Trip Preferences" ng-model="form.city"></input>
              <ion-spinner ng-style="{'visibility': !view.isSearchClickable?'visible':'hidden'}"></ion-spinner>
              <button type="button" ng-click="search()" ng-style="{'visibility': view.isSearchClickable?'visible':'hidden'}" class="search-icon button button-large button-clear button-positive icon ion-search" name="button"></button>
            </div>
          </div>
        </div>
      </div>

      <div class="main-search-toggle-container" style="margin-top:-12px;">
        <label class="switch" ng-repeat="item in category">
          <input type="checkbox" value="{{item['id']}}" ng-checked="form.category.indexOf(item['id']) > -1" ng-click="toggleCategory(item['id'])">
          <span class="switch-content">{{item["name"]}}</span>
        </label>
      </div>
      <hr/>
    </div>
    <div class = "subsearch-container-section">
      <div class="subsearch-container-row">
        <div class="subsearch-container-left">
          <ion-scroll class = "scroll" has-bouncing="false" scrollbar-x="false" scrollbar-y="false">
            <div class="card" ng-repeat="item in searchResult" ng-mouseover="cardOnMouseover(item)" ng-mouseout="cardOnMouseout()">
              <div class="card-content" ng-click="cardOnClicked(item)">
                <img ng-if="item['prefix']!=undefined"ng-src="{{item['prefix']}}600x600{{item['suffix']}}"></img>
                <img ng-if="item['prefix']==undefined" ng-src="/img/logo.png" style="object-fit: contain;"></img>
                <h1>{{item['name']}}</h1>
                <h2>{{item['address']}}</h2>
                <p> <span ng-repeat="category in item['categories']">{{category['name']}}</span> </p>
              </div>
              <button class="button button-small button-clear button-positive" type="button" name="button" ng-click="showReview(item)">People's Review</button>
            </div>
          </ion-scroll>
        </div>
        <div class="subsearch-container-right">
          <div id="map"> </div>
        </div>
      </div>
    </div>
  </div>
</ion-view>


<script id="review-modal.html" type="text/ng-template">
    <ion-modal-view id="review-modal" style="padding: 8px;">
      <div class="review-modal-container">
        <div class="review-modal-header" >
          <button style="z-index: 99;" class="button button-positive button-clear icon ion-close" type="button" name="button" ng-click="hideReviewModal()"></button>

          <a class="item item-thumbnail-left">
            <img ng-if="reviewItem['prefix']!=undefined" ng-src="{{reviewItem['prefix']}}100x100{{reviewItem['suffix']}}"></img>
            <img ng-if="reviewItem['prefix']==undefined" ng-src="/img/logo.png" style="object-fit: contain;"></img>
                <h2>{{reviewItem["name"]}}</h2>
                <p>{{reviewItem["description"]}}</p>
                <p><span ng-repeat="category in reviewItem['categories']">{{category['name']}}</span></p>
                <p>
                  <i ng-if="reviewItem['score']>4" class="icon ion-happy"></i>
                  <i ng-if="reviewItem['score']>3" class="icon ion-happy"></i>
                  <i ng-if="reviewItem['score']>2" class="icon ion-happy"></i>
                  <i ng-if="reviewItem['score']>1" class="icon ion-happy"></i>
                  <i ng-if="reviewItem['score']>0" class="icon ion-happy"></i>
                  <i ng-if="reviewItem['score']>3">Positive</i>
                  <i ng-if="reviewItem['score']>1 && reviewItem['score']<=3">Neutral</i>
                  <i ng-if="reviewItem['score']>0 && reviewItem['score']<=1">Negative</i>
                  <i ng-if="reviewItem['score']<=0 || reviewItem['score']==undefined">No enough reviews to rate</i>
                </p>
          </a>
        </div>
        <div class="review-modal-content" >
          <p ng-repeat="item in reviewItem['tweets'] track by $index">{{item}}</p>
        </div>
      </div>
    </ion-modal-view>
</script>
