ion-content {
  min-width: 800px;
}

ion-spinner+.search-icon {
  position: relative;
  margin-left: -48px;
}

.center-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.center-container .center-content {
  justify-content: center;
  width: 60%;
}

.center-container .center-content-inline {
  justify-content: center;
  display: inline-flex;
  width: 90%;
  align-items: center;
}

.logo-container {
  display:flex;
  justify-content: center;
}

.main-search-box-container {
  display:flex;
  justify-content: center;
  height: 44px;
  width: 100%;
  border-radius: 32px;
  background: #F1F3F4;
}
.main-search-box {
  display: inline-flex;
  width: 100%;
  font-size: 24px;
  align-items: center;
}
.main-search-box .search-box{
  height: inherit;
  padding-left: 3%;
  background: inherit;
  width: 100%;
  font-size: inherit;
  color: #666;
}
.main-search-box .search-icon {
  height: inherit;
  /* padding-top: 5px; */
  background: inherit;
  width: auto;
  font-size: inherit;
}

.main-search-toggle-container {
  padding-top: 12px;
  display: flex;
  flex-wrap:wrap;
  width:100%;
  justify-content:center;
}

.main-search-toggle-container .switch {
  padding: 10px;
}

.main-search-toggle-container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.main-search-toggle-container .switch input .switch-content{
  padding: 8px;
  white-space: nowrap;
  border-radius: 40px;
  color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.main-search-toggle-container .switch:nth-child(5n+1) .switch-content{
  background: #4F86EC;
}
.main-search-toggle-container .switch:nth-child(5n+2) .switch-content{
  background: #DA5040;
}
.main-search-toggle-container .switch:nth-child(5n+3) .switch-content{
  background: #F3BD42;
}
.main-search-toggle-container .switch:nth-child(5n+4) .switch-content{
  background: #4F86EC;
}
.main-search-toggle-container .switch:nth-child(5n+5) .switch-content{
  background: #56A55C;
}

.main-search-toggle-container .switch input:checked+.switch-content{
  padding: 8px;
  white-space: nowrap;
  border-radius: 40px;
  color: white;
  opacity: 1;
  -webkit-transition: .4s;
  transition: .4s;
}

.main-search-toggle-container .switch input:not(:checked)+.switch-content{
  padding: 8px;
  white-space: nowrap;
  border-radius: 40px;
  color: white;
  opacity: 0.5;
  -webkit-transition: .4s;
  transition: .4s;
}

.search-result-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.search-result-container .search-result-left-container {
  width: 70%;
  height: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: flex-start;
}

.search-result-container .search-result-left-container .search-result-item {
  margin: 4px;
  width: 320px;
  height: 420px;
}

.search-result-container .search-result-right-container {
  width: 30%;
  min-width: 420px;
  height: auto;
  background: yellow;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.search-result-container .search-result-right-container .search-result-item {
  width: 100%;
  height: 100%;
  background: blue;
  margin: 4px;
}

.search-result-container .search-result-left-container .card {
  box-shadow: 1px 2px 8px 1px rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

.scroll-bar {
visibility: hidden;
}
